In [2]:
import pandas as sethu

In [3]:
data = sethu.read_excel(r"C:\Users\Siphosethu Zothani\Documents\New folder\Dots Potential Customer Survey Data.xlsx",  sheet_name = 'Sheet1')

In [5]:
data.head()

,Unique ID,Country,Age,Annual Family Income ($),Gender,Time spent watching videos/TV,Time spent playing indoor sports,Time spent playing outdoor sports,Total Time spent working in front of screen,Sleeping hours,...,Has OTT subscription,Number of friends,Likes spicy food,Likes desserts,Wants to change career,Has debt,Has kids,Drinks alcohol,Smoker,Wear Specs
0,7319483,CAN,13,20423,Male,3,4,3,7,8,...,1,4,0,1,0,0,0,0,0,1
1,4791965,CAN,13,5570,Female,3,3,1,10,3,...,1,6,0,1,0,0,0,0,1,1
2,2991718,CAN,13,58706,Female,2,2,1,4,9,...,0,5,0,0,0,0,0,0,0,0
3,4220106,CAN,13,57118,Male,6,2,4,10,11,...,1,9,0,1,0,0,0,0,0,0
4,2263008,CAN,14,59834,Male,6,3,4,13,12,...,1,6,1,0,0,0,0,0,0,0

In [6]:
display(data)

,Unique ID,Country,Age,Annual Family Income ($),Gender,Time spent watching videos/TV,Time spent playing indoor sports,Time spent playing outdoor sports,Total Time spent working in front of screen,Sleeping hours,...,Has OTT subscription,Number of friends,Likes spicy food,Likes desserts,Wants to change career,Has debt,Has kids,Drinks alcohol,Smoker,Wear Specs
0,7319483,CAN,13,20423,Male,3,4,3,7,8,...,1,4,0,1,0,0,0,0,0,1
1,4791965,CAN,13,5570,Female,3,3,1,10,3,...,1,6,0,1,0,0,0,0,1,1
2,2991718,CAN,13,58706,Female,2,2,1,4,9,...,0,5,0,0,0,0,0,0,0,0
3,4220106,CAN,13,57118,Male,6,2,4,10,11,...,1,9,0,1,0,0,0,0,0,0
4,2263008,CAN,14,59834,Male,6,3,4,13,12,...,1,6,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,4936093,KOR,78,15861,Female,2,3,1,5,8,...,0,2,1,0,0,1,1,0,0,1
3216,3458615,KOR,78,24510,Male,6,1,1,11,8,...,1,5,0,0,0,1,1,1,0,0
3217,7651095,KOR,78,6716,Male,9,1,1,9,7,...,1,4,1,0,0,0,1,1,0,1
3218,7490009,KOR,78,37569,Male,1,3,-1,7,8,...,0,3,1,1,0,0,0,1,0,0
3219,9367449,KOR,78,17534,Male,9,2,3,8,7,...,0,1,1,0,1,0,1,1,1,1

In [8]:
null_values = data.isnull().sum()
print("Null Values Count:\n", null_values)

Null Values Count:
 Unique ID                                                  0
Country                                                    0
Age                                                        0
Annual Family Income ($)                                   0
Gender                                                     0
Time spent watching videos/TV                              0
Time spent playing indoor sports                           0
Time spent playing outdoor sports                          0
Total Time spent working in front of screen                0
Sleeping hours                                             0
IQ                                                         0
Whether parents have specs                                 0
English speaker                                            0
Migrated within country                                    0
Migrated overseas                                          0
Maritial Status (0 - Single, 1 - Married, 2 - Divorced)    0
Has Diabetes                                               0
Education Status                                           0
Has Gym Subscription                                       0
Has OTT subscription                                       0
Number of friends                                          0
Likes spicy food                                           0
Likes desserts                                             0
Wants to change career                                     0
Has debt                                                   0
Has kids                                                   0
Drinks alcohol                                             0
Smoker                                                     0
Wear Specs                                                 0
dtype: int64

In [9]:
total_missing_values = null_values.sum()
print("Total number of missing values:", total_missing_values)

Total number of missing values: 0

In [13]:
print(data.columns)

Index(['Unique ID', 'Country', 'Age', 'Annual Family Income ($)', 'Gender',
       'Time spent watching videos/TV', 'Time spent playing indoor sports',
       'Time spent playing outdoor sports',
       'Total Time spent working in front of screen', 'Sleeping hours', 'IQ',
       'Whether parents have specs', 'English speaker',
       'Migrated within country', 'Migrated overseas',
       'Maritial Status (0 - Single, 1 - Married, 2 - Divorced)',
       'Has Diabetes', 'Education Status', 'Has Gym Subscription',
       'Has OTT subscription', 'Number of friends', 'Likes spicy food',
       'Likes desserts', 'Wants to change career', 'Has debt', 'Has kids',
       'Drinks alcohol', 'Smoker', 'Wear Specs'],
      dtype='object')

In [14]:
print(data.iloc[0])

Unique ID                                                   7319483
Country                                                         CAN
Age                                                              13
Annual Family Income ($)                                      20423
Gender                                                         Male
Time spent watching videos/TV                                     3
Time spent playing indoor sports                                  4
Time spent playing outdoor sports                                 3
Total Time spent working in front of screen                       7
Sleeping hours                                                    8
IQ                                                               95
Whether parents have specs                                        1
English speaker                                                   0
Migrated within country                                           0
Migrated overseas                                                 0
Maritial Status (0 - Single, 1 - Married, 2 - Divorced)           0
Has Diabetes                                                      0
Education Status                                           Studying
Has Gym Subscription                                              0
Has OTT subscription                                              1
Number of friends                                                 4
Likes spicy food                                                  0
Likes desserts                                                    1
Wants to change career                                            0
Has debt                                                          0
Has kids                                                          0
Drinks alcohol                                                    0
Smoker                                                            0
Wear Specs                                                        1
Name: 0, dtype: object

In [15]:
print(data.iloc[5])

Unique ID                                                   9450813
Country                                                         CAN
Age                                                              14
Annual Family Income ($)                                      42157
Gender                                                       Female
Time spent watching videos/TV                                     1
Time spent playing indoor sports                                  2
Time spent playing outdoor sports                                 3
Total Time spent working in front of screen                      16
Sleeping hours                                                   10
IQ                                                              125
Whether parents have specs                                        0
English speaker                                                   1
Migrated within country                                           0
Migrated overseas                                                 0
Maritial Status (0 - Single, 1 - Married, 2 - Divorced)           0
Has Diabetes                                                      0
Education Status                                           Studying
Has Gym Subscription                                              1
Has OTT subscription                                              0
Number of friends                                                 8
Likes spicy food                                                  1
Likes desserts                                                    1
Wants to change career                                            0
Has debt                                                          0
Has kids                                                          0
Drinks alcohol                                                    0
Smoker                                                            1
Wear Specs                                                        0
Name: 5, dtype: object

In [17]:
rows_with_ellipsis = data[data.eq("...").any(axis=1)]
rows_with_ellipsis = data[data.eq("...").any(axis=1)]
print("Rows containing '...':")
print(rows_with_ellipsis)
print("\nColumns containing '...':")
print(rows_with_ellipsis)

Rows containing '...':
Empty DataFrame
Columns: [Unique ID, Country, Age, Annual Family Income ($), Gender, Time spent watching videos/TV, Time spent playing indoor sports, Time spent playing outdoor sports, Total Time spent working in front of screen, Sleeping hours, IQ, Whether parents have specs, English speaker, Migrated within country, Migrated overseas, Maritial Status (0 - Single, 1 - Married, 2 - Divorced), Has Diabetes, Education Status, Has Gym Subscription, Has OTT subscription, Number of friends, Likes spicy food, Likes desserts, Wants to change career, Has debt, Has kids, Drinks alcohol, Smoker, Wear Specs]
Index: []

[0 rows x 29 columns]

Columns containing '...':
Empty DataFrame
Columns: [Unique ID, Country, Age, Annual Family Income ($), Gender, Time spent watching videos/TV, Time spent playing indoor sports, Time spent playing outdoor sports, Total Time spent working in front of screen, Sleeping hours, IQ, Whether parents have specs, English speaker, Migrated within country, Migrated overseas, Maritial Status (0 - Single, 1 - Married, 2 - Divorced), Has Diabetes, Education Status, Has Gym Subscription, Has OTT subscription, Number of friends, Likes spicy food, Likes desserts, Wants to change career, Has debt, Has kids, Drinks alcohol, Smoker, Wear Specs]
Index: []

[0 rows x 29 columns]

In [21]:
summary_stats = data.describe()
print(summary_stats)

          Unique ID          Age  Annual Family Income ($)  \
count  3.220000e+03  3220.000000               3220.000000
mean   4.988139e+06    44.834161              20578.639130
std    2.867911e+06    19.073161              15079.429422
min    1.683000e+03    13.000000                 10.000000
25%    2.516499e+06    29.000000               8494.000000
50%    5.041256e+06    44.000000              16982.000000
75%    7.459871e+06    60.000000              30965.250000
max    9.999011e+06    91.000000              59858.000000

       Time spent watching videos/TV  Time spent playing indoor sports  \
count                    3220.000000                       3220.000000
mean                        4.347205                          1.991925
std                         2.807803                          1.205222
min                         0.000000                          0.000000
25%                         2.000000                          1.000000
50%                         4.000000                          2.000000
75%                         6.000000                          3.000000
max                        10.000000                          4.000000

       Time spent playing outdoor sports  \
count                        3220.000000
mean                            1.700621
std                             1.190910
min                            -2.000000
25%                             1.000000
50%                             2.000000
75%                             3.000000
max                             5.000000

       Total Time spent working in front of screen  Sleeping hours  \
count                                  3220.000000     3220.000000
mean                                      8.162733        7.648447
std                                       2.759419        2.260047
min                                      -2.000000       -1.000000
25%                                       6.000000        6.000000
50%                                       8.000000        8.000000
75%                                      10.000000        9.000000
max                                      18.000000       17.000000

                IQ  Whether parents have specs  ...  Has OTT subscription  \
count  3220.000000                 3220.000000  ...           3220.000000
mean    106.011801                    0.334783  ...              0.706211
std      15.414674                    0.471988  ...              0.455567
min      54.000000                    0.000000  ...              0.000000
25%      95.000000                    0.000000  ...              0.000000
50%     106.000000                    0.000000  ...              1.000000
75%     116.000000                    1.000000  ...              1.000000
max     161.000000                    1.000000  ...              1.000000

       Number of friends  Likes spicy food  Likes desserts  \
count        3220.000000       3220.000000     3220.000000
mean            4.450932          0.607764        0.584783
std             2.454004          0.488325        0.492836
min            -3.000000          0.000000        0.000000
25%             3.000000          0.000000        0.000000
50%             4.000000          1.000000        1.000000
75%             6.000000          1.000000        1.000000
max            14.000000          1.000000        1.000000

       Wants to change career     Has debt     Has kids  Drinks alcohol  \
count             3220.000000  3220.000000  3220.000000     3220.000000
mean                 0.247826     0.450932     0.568944        0.606522
std                  0.431817     0.497664     0.495301        0.488597
min                  0.000000     0.000000     0.000000        0.000000
25%                  0.000000     0.000000     0.000000        0.000000
50%                  0.000000     0.000000     1.000000        1.000000
75%                  0.000000     1.000000     1.000000        1.000000
max                  1.000000     1.000000     1.000000        1.000000

            Smoker   Wear Specs
count  3220.000000  3220.000000
mean      0.310870     0.548137
std       0.462921     0.497755
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     1.000000
75%       1.000000     1.000000
max       1.000000     1.000000

[8 rows x 26 columns]

In [23]:
import numpy as np